@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --border: gray 1px solid;
    --yes: linear-gradient(45deg, #16e5ed, #6da1ff);
    --no: linear-gradient(45deg, #ed1616, #ff6d6d);

}

*:not(.pokemonInput) {
    user-select: none;
}

h1 { text-align: center; }

.columnFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokemonDropdown {
    position: absolute;
    max-height: 10em;
    background-color: black;
    padding: 0em;
    overflow-y: auto;
    box-sizing: border-box;
    width: min(25.5em, 95%);
    border-radius: 0.4em;
    margin-top: 0.3em;
    z-index: 2;
    box-shadow: black 0px 0px 9px;
    display: flex;
    flex-direction: column;
}

.pokeOption {
    text-align: left;
    min-height: 2.5em;
    outline: none;
    font-family: inherit;
    font-size: large;
    border-radius: 0;
    border: none;
    color: white;
    font-weight: bold;
}
#pokemonDropdown button:nth-child(2n+1) {
    background: #393939;
}
#pokemonDropdown button:nth-child(2n) {
    background: #282828;
}

.disabled {
    filter: grayscale(1);
    opacity: 0.8;
}
.mainDisabled { opacity: 0.2; }

.pkmnImage {
    width: 5em;
}

.loadPlaceholder {
    width: 5em;
    height: 4em;
}

body {
    background: #080808;
    color: white;
    font-family: 'Montserrat';
    overflow-x: hidden;
}
html {overflow-x: hidden;}

#main {
    color: inherit;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.pokemonInput {
    padding: 0.2em 0.6em;
    background: #484848;
    border: var(--border);
    border-radius: 0.4em;
    width: 86vw;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.3em;
    outline: none;
}

.pokemonInput:disabled {
    opacity: 0.4;
}

.pokemonInput::placeholder {
    color: white;
    padding-left: 1.7em;
    background: url(../assets/searchOpaque.svg) no-repeat;
    background-size: contain;
    opacity: 0.5;
}

.pokemonCard {
    background: #121212;
    padding: 0.5em;
    border-radius: inherit;
    border: var(--border);;
    position: relative;
    height: fit-content;
    min-height: 5em;
    align-items: center;
    font-size: small;
}

#battleButton {
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(45deg, #16e5ed, #6da1ff);
    padding: 0.2em 0.8em;
    border: #1fa1e7 solid 2px;
    border-radius: 0.3em;
    cursor: pointer;
    outline: none;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    margin-top: 0.5em;
}

#battleButton:active {
    transform: scale(1.2);
}

#battleButton:disabled {
    background: none;
    color: rgb(88, 88, 88);
}

.teamContainer {
    background: #484848;
    margin: 1em;
    padding: 1em 2em;
    border: var(--border);
    border-radius: 0.4em;
    gap: 0.3em;
    width: 75vw;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.containerTutorial {
    gap: 0.5em;
}

.addImg {
    width: 50px;
    opacity: 0.3;
}

hr {
    width: min(50em, 95%);
    margin: 0.5em auto;
    opacity: 0.1;
}

dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    background: #2e2e2e;
    z-index: 2;
    border: var(--border);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-y: auto;
    animation: 0.2s linear;
    animation-fill-mode: forwards;
}

.fsDialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.floatingDialog {
    height: fit-content;
    max-height: 80%;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
}

pre {
    padding: 0.2em;
    padding-bottom: 6em;
}

#result {
    flex-grow: 1;
}

#battleButtonsContainer {
    font-family: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
}

#battleButtonsContainer > button {
    width: 50%;
    border-radius: 0;
    height: 2em;
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    gap: 0.3em;
    outline: none;
    flex-direction: row;
}

#battleRematch { background: var(--yes); }   
#battleClose { background: var(--no); }   

#darkBG {
    position: absolute;
    z-index: 1;
    background-color: black;
    transition: opacity 0.2s ease-in-out;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
}

header {
    font-family: 'Montserrat';
    font-size: 1.5em;
    text-align: center;
    border-bottom: var(--border);
    padding: 0.2em;
}

.underline {
    text-decoration: #131313 2px solid underline;
    text-underline-offset: 4px;
}

#loadingContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.623);
    border-radius: 0.3em;
    width: 90%;
    height: 90%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingBall {
    position: absolute;
    width: 80%;
}

#loadingCircle {
    position: absolute;
    animation: spinLoad 1.5s infinite cubic-bezier(.7,-0.17,.26,1.17);
    width: 80%;
}

@keyframes spinLoad {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes popup {
    from { opacity: 0; margin-top: 1em; }
    to { opacity: 1; margin-top: 0em; }
}
@keyframes popupClose {
    from { opacity: 1; margin-top: 0em; }
    to { opacity: 0; margin-top: 1em; }
}

.link {
	display: block;
	color: white;
	text-decoration: #555 1px solid underline;
}

#status {
    margin-bottom: 0.5em;
    transition: transform 0.2s ease-in-out;
}

#updateButtons > *:not(hr) {
	width: 100%;
	height: 2.2em;
	border: none;
	font-size: large;
	font-family: inherit;
    outline: none;
}

#updateButtons > button:nth-child(1) { background: var(--yes); } /* Download */
#updateButtons > button:nth-child(2) { background: var(--no); } /* Close */
   


#slider {
    position: relative;
    -webkit-appearance: none;
    width: 50px;
    height: 1.5em;
    background-color: #252d35;
    border: var(--border);
    border-radius: 5px;
    transition: background-color 0.05s ease-in-out;
}

#slider:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -2px;
    background: white;
    width: 26px;
    height: 26px;
    border-radius: inherit;
    border: var(--border);
    transition: left 0.1s ease-in-out;
}

#slider:checked {
    background: #dc2629;
}

#slider:checked:after {
    left: 25px;
}

.settingsOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1em;
}

.textCentered { text-align: center; }