@import url('Montserrat-VariableFont_wght.ttf');

@keyframes breathe {
    0% { transform: scale(1, 1); }
    25% { transform: scale(1.015, 0.98); }
    50% { transform: scale(1, 1); }
    75% { transform: scale(0.985, 1.02); }
    100% { transform: scale(1, 1); }
}

@keyframes dance {
    0% { transform: rotate(0deg) translateY(0);}
    25% { transform: rotate(-5deg) translateY(-2em) skew(8deg);}
    50% { transform: rotate(0deg) translateY(0);}
    75% { transform: rotate(5deg) translateY(-2em) skew(-8deg);}
    100% {transform: rotate(0deg) translateY(0);}
}

@keyframes scrollBG {
    from { background-position: 0px 0px, 0px 0px; }
    to { background-position: 0px 0px, 32px 32px; }
}

:root {
    --yes: linear-gradient(45deg, #16e5ed, #6da1ff);
    --no: linear-gradient(45deg, #ed1616, #ff6d6d);
    
    --pk-view-bg: url(https://serebii.net/pokemon/art/034.png);
    --pkDance: dance 0.8s 1 cubic-bezier(.68,-0.2,.27,1.03);
    --pkBreathe: breathe 3s infinite linear;
    --statAnim: none;
    --tabScrollLine: 0;

    --DEF-DARK-BG: black;
    --DEF-DARK-CARD: #121212;
    --DEF-DARK-POPUPBG: #2e2e2e;
    --DEF-DARK-INPUT: #484848;
    --DEF-DARK-BORDER: gray 1px solid;
    --DEF-DARK-TEXT: white;
    --DEF-DARK-INVERT: invert(0);

    --DEF-LIGHT-BG: rgb(235, 235, 235);
    --DEF-LIGHT-CARD: #e7e7e7;
    --DEF-LIGHT-POPUPBG: #dfdfdf;
    --DEF-LIGHT-INPUT: #c2c2c2;
    --DEF-LIGHT-BORDER: gray 1px solid;
    --DEF-LIGHT-TEXT: rgb(0, 0, 0);
    --DEF-LIGHT-INVERT: invert(1);

    --BG: var(--DEF-DARK-BG);
    --CARD: var(--DEF-DARK-CARD);
    --POPUPBG: var(--DEF-DARK-POPUPBG);
    --INPUT: var(--DEF-DARK-INPUT);
    --BORDER: var(--DEF-DARK-BORDER);
    --TEXT: var(--DEF-DARK-TEXT);
    --INVERT: var(--DEF-DARK-INVERT);

}

*:not(.pokemonInput) {
    user-select: none;
}

h1 { text-align: center; }

.columnFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokemonDropdown {
    position: absolute;
    max-height: 10em;
    background-color: black;
    padding: 0em;
    overflow-y: auto;
    box-sizing: border-box;
    width: min(25.5em, 95%);
    border-radius: 0.4em;
    margin-top: 0.3em;
    z-index: 2;
    box-shadow: black 0px 0px 9px;
    display: flex;
    flex-direction: column;
}

.pokeOption {
    text-align: left;
    min-height: 2.5em;
    outline: none;
    font-family: inherit;
    font-size: large;
    border-radius: 0;
    border: none;
    color: var(--TEXT);
    font-weight: bold;
}
#pokemonDropdown button:nth-child(2n+1) {
    background: var(--POPUPBG);
}
#pokemonDropdown button:nth-child(2n) {
    background: var(--INPUT);
}

.disabled {
    filter: grayscale(1);
    opacity: 0.8;
}
.mainDisabled { opacity: 0.2; }

.pkmnImage {
    width: 5em;
}

.loadPlaceholder {
    width: 5em;
    height: 4em;
}

body {
    background: var(--BG);
    color: var(--TEXT);
    font-family: 'Montserrat';
    overflow-x: hidden;
    transition: background-color 0.2s, color 0.2s;
    font-family: 'Montserrat';
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 0.8em;
}
html {overflow-x: hidden;}

.pokemonInput {
    padding: 0.2em 0.6em;
    background: var(--INPUT);
    border: var(--BORDER);
    border-radius: 0.4em;
    width: 100%;
    color: var(--TEXT);
    font-family: 'Montserrat';
    font-size: 1.3em;
    outline: none;
    transition: background-color 0.2s, color 0.2s;
    box-sizing: border-box;
}

*:disabled {
    opacity: 0.4;
}

.pokemonInput::placeholder {
    color: white;
    filter: var(--INVERT);
    padding-left: 1.7em;
    background: url(../assets/searchOpaque.svg) no-repeat;
    background-size: contain;
    opacity: 0.5;
}

.pkInputContainer {
    display: flex;
    gap: 0.5em;
}
  
.randomPokemon > img { width: 2em; filter: var(--INVERT); }
  
.randomPokemon {
    background: var(--INPUT);
    border: var(--BORDER);
    outline: none;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
}

.pokemonCard {
    background: var(--CARD);
    padding: 0.5em;
    border-radius: 0.4em;
    border: var(--BORDER);;
    position: relative;
    height: fit-content;
    min-height: 5em;
    align-items: center;
    font-size: small;
    transition: background-color 0.2s, color 0.2s;
    touch-action: none;
    -webkit-touch-callout: none;
}

.bottomButtonContainer {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-top: 1.5em;
}

.importantButton {
    border-radius: 0.3em;
    cursor: pointer;
    outline: none;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

#battleButton {
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(45deg, #16e5ed, #6da1ff);
    padding: 0.2em 0.8em;
    border: #1fa1e7 solid 2px;
}

.importantButton:active {
    transform: scale(1.2);
}

#battleButton:disabled {
    background: none;
    color: rgb(88, 88, 88);
}

.teamContainer {
    background: var(--INPUT);
    margin: 1em;
    border: var(--BORDER);
    border-radius: 0.4em;
    width: 75vw;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
    box-sizing: border-box;
    overflow: clip;
}

.teamPokemon {
    display: flex;
    gap: 0.5em;
    margin: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.teamPokemon:empty {margin: 0;}

.containerTutorial {
    gap: 0.5em;
    padding: 0.7em;
}

.teamHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--POPUPBG);
    padding: 0 0.6em;
}

.THleft {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.THleft > img { width: 1em; filter: var(--INVERT); }
.THleft > label { font-weight: bold; }

.addImg {
    width: 50px;
    opacity: 0.3;
    filter: var(--INVERT);
}

hr {
    width: min(50em, 95%);
    margin: 0.5em auto;
    opacity: 0.1;
}

dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    background: var(--POPUPBG);
    z-index: 2;
    border: var(--BORDER);
    color: var(--TEXT);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-y: auto;
    animation: 0.2s linear;
    animation-fill-mode: forwards;
    transition: background-color 0.2s, color 0.2s;
}

.fsDialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.floatingDialog {
    height: fit-content;
    max-height: 80%;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    overflow: visible;
    /*! border-bottom-left-radius: 1em; */
}

pre {
    padding: 0.2em;
    padding-bottom: 6em;
}

#result {
    flex-grow: 1;
}

.mainButtonContainer {
    font-family: inherit;
    /*! position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
}

.mainButtonContainer > button {
    width: 100%;
    border-radius: 0;
    height: 2em;
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    gap: 0.3em;
    outline: none;
    flex-direction: row;
}

.bottomFixed { position: fixed; }

#battleRematch { background: var(--yes); }   
#battleClose { background: var(--no); }   

#darkBG {
    position: absolute;
    z-index: 1;
    background-color: black;
    transition: opacity 0.2s ease-in-out;
    display: none;
    opacity: 0;
    width: 100%;
    height: 105vh;
}

header {
    font-family: 'Montserrat';
    font-size: 1.5em;
    text-align: center;
    border-bottom: var(--BORDER);
    padding: 0.2em;
}

.underline {
    text-decoration: #7e7e7e13 2px solid underline;
    text-underline-offset: 4px;
}

#loadingContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.623);
    border-radius: 0.3em;
    width: 90%;
    height: 90%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingBall {
    position: absolute;
    width: 80%;
}

#loadingCircle {
    position: absolute;
    animation: spinLoad 1.5s infinite cubic-bezier(.7,-0.17,.26,1.17);
    width: 80%;
}

@keyframes spinLoad {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes popup {
    from { opacity: 0; margin-top: 1em; }
    to { opacity: 1; margin-top: 0em; }
}
@keyframes popupClose {
    from { opacity: 1; margin-top: 0em; }
    to { opacity: 0; margin-top: 1em; }
}

.link {
	display: block;
	color: var(--TEXT);
	text-decoration: #555 1px solid underline;
}

#status {
    margin-bottom: 0.5em;
    transition: transform 0.2s ease-in-out;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

#updateButtons > *:not(hr) {
	width: 100%;
	height: 2.2em;
	border: none;
	font-size: large;
	font-family: inherit;
    outline: none;
}

#updateButtons > button:nth-child(2) { background: var(--no); } /* Close */

#updateLink {
    text-decoration: none;
    text-align: center;
    color: black;
    background: var(--yes);
}

#slider {
    position: relative;
    -webkit-appearance: none;
    width: 50px;
    height: 1.5em;
    background-color: #252d35;
    border: var(--BORDER);
    border-radius: 5px;
    transition: background-color 0.05s ease-in-out;
}

#slider:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -2px;
    background: white;
    width: 26px;
    height: 26px;
    border-radius: inherit;
    border: var(--BORDER);
    transition: left 0.1s ease-in-out;
}

#slider:checked {
    background: #dc2629;
}

#slider:checked:after {
    left: 25px;
}

#slider:disabled {
	opacity: 0.3;
}

.settingsOption, .dropdownOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1em;
}

.dropdownOption::after {
    content: "";
    background: url(../assets/menu.svg);
    background-size: cover;
    display: inline;
    width: 0.7em;
    height: 0.9em;
}

.textCentered { text-align: center; }

#pkStatsContainer {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-column-gap: 0.7em;
    grid-gap: 0.4em 0.7em;
    align-items: center;
    /*! padding: 0.6em 0.8em; */
}

progress {
    appearance: none;
    height: 0.7em;
    border: var(--BORDER);
    border-radius: 3em;
    background: var(--CARD);
}

progress::-webkit-progress-value {
    border-radius: 3em;
}

.pr_red::-webkit-progress-value { background: #ff1c20 }
.pr_orange::-webkit-progress-value { background: #ff7e3d }
.pr_yellow::-webkit-progress-value { background: #ffce2d }
.pr_lgreen::-webkit-progress-value { background: #bbff29 }
.pr_green::-webkit-progress-value { background: #27ff2e }
.pr_turq::-webkit-progress-value { background: #1dff86 }
.pr_blue::-webkit-progress-value { background: #11cbff }

#pokeBackground {
    height: 10em;
    z-index: 5;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(35deg, aqua, yellow), url(pokeBG.svg);
    background-blend-mode: multiply, normal;
    animation: scrollBG 2.5s infinite linear;
    display: flex;
    justify-content: center;
}
#statView::before {
    content:  "";
    position: absolute;
    background: var(--pk-view-bg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: -5em;
    z-index: 6;
    background-size: contain;
    animation: var(--statAnim);
}

#pkTitle, #teamTitle {
    background: var(--POPUPBG);
    padding: 0.2em 0.6em;
    font-weight: bolder;
    border-radius: 3em;
}
   

#pkStatMain {
    background: var(--POPUPBG);
    z-index: 7;
    position: relative;
    border-radius: inherit;
}

#pkHeader {
    display: flex;
    justify-content: space-evenly;
    transform: translateY(-2.4em);
    margin-bottom: -3.5em;
    align-items: center;
}

.tabHeader {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.tabButton {
    background: none;
    border: none;
    font-family: inherit;
    color: var(--TEXT);
    font-size: large;
    outline: none;
    transition: opacity 0.15s ease-in-out;
}   

.tabHeader::after {
  width: 33%;
  height: 4px;
  background: gray;
  position: absolute;
  content: "";
  bottom: 0;
  left: var(--tabScrollLine);
  transition: left 0.15s ease-in-out;
}

.tabHeader > button:not(.tabSelected) {
    opacity: 0.5;
}

.tabContent {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    min-width: 100%;
    gap: 5em;
    scroll-behavior: smooth;
}
.tabContent > * {
    min-width: inherit;
    scroll-snap-align: start;
    margin: 0 1.5em;
    padding: 0.6em 0.8em;
    box-sizing: border-box;
}

.example::-webkit-scrollbar {
  display: none;
}

.typeBadge {
    display: flex;
    align-items: center;
    gap: 0.3em;
    background: #000000d1;
    height: max-content;
    padding: 0.3em;
    border-radius: 1em;
    font-size: 0.8em;
}
.typeBadge > img { width: 1.3em; }

.moveBubble {
	display: flex;
	align-items: center;
	gap: 0.5em;
	border-radius: 0.5em;
	padding: 0.1em 0.5em;
	font-weight: 800;
    overflow-x: clip;
	position: relative;
}

.moveBubble::after {
    content: "";
    height: 1.4em;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(90deg, #2d2d2d, transparent);
    left: 0px;
    mix-blend-mode: hard-light;
    overflow: clip;
    border-radius: 0.5em;
    filter: var(--INVERT);
}

.moveBubble > * { z-index: 1; }
.moveBubble > img { width: 1em; }

#pkMoveContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.bottomRounded {
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    display: flex;
    height: 3em;
    justify-content: space-around;
    background: var(--CARD);
}

.navButton {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-top: var(--POPUPBG) solid 2px;
    position: relative;
}

.navButton > img { /*All images*/
    width: 2em;
}
.navButton > img:nth-child(1) {
    position: absolute;
    z-index: 1;
    filter: var(--INVERT);
}
#navSelected {opacity: 0;}

#settingsMenu > * {
    width: 100%;
  }
#settingsMenu {
    display: flex;
    flex-direction: column;
    height: 85vh;
    gap: 1em;
}

.iconOption > img {
    width: 1.3em;
}

.iconOption {
    margin: 0 1em;
    display: flex;
    gap: 1em;
    align-items:center;
}

#teamTitle {
    display: flex;
    gap: 0.2em;
    width: max-content;
}

#teamTitle > img { width: 0.7em; }

#addToTeam { width: 8em; }


#teamPokemon { overflow: clip; }
#teamPokemon b { font-size: xx-large; } /*PK nick*/
#teamPokemon i { opacity: 0.7; } /*PK name*/

#teamPokemonHeader {
    display: flex;
    background: linear-gradient(90deg, #de872a, transparent);
}
#teamPokemonHeader > div {display: flex;}

#teamPKHeaderData {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#teamPKImage { width: 5em; }

.numIncrement {
    color: white;
    background: var(--INPUT);
    border: var(--BORDER);
    font-size: 1.9em;
    line-height: 0;
    font-family: inherit;
    width: 1em;
    height: 1em;
}

.numIncrement:first-child { border-radius: 0.2em 0 0 0.2em; }
.numIncrement:last-child { border-radius: 0 0.2em 0.2em 0; }

.numInput {
    display: flex;
    gap: 0.5em;
}

.numDisplay {
    width: 2em;
    padding: 0em 0.4em;
    border-radius: 0.3em;
    border: var(--BORDER);
    background: var(--INPUT);
    color: white;
    font-family: inherit;
    font-size: larger;
}